@import "Variables";

#DataVisualSection {
  background-color: $blue-5;
  padding: 70px 0;
  > .container {
    > .section.-left {
      flex: 0 1 550px;
    }

    > .section.-right {
      flex: 0 1 0;
    }
  }
}

#DataVisualSection > .container > .section.-left {
  > .description {
    color: $blue-1;
    font-size: 20px;
    line-height: 1.5;

    &:nth-last-child(n + 2) {
      margin-bottom: 25px;
    }
  }
  > .hostanalytics {
    padding: 45px 0 0;
    margin-top: 40px;
    border-top: 1px solid $blue-6;
    > .logo {
      margin-bottom: 20px;
      width: 160px;
    }
    > .description {
      color: $blue-1;
      font-size: 22px;
      line-height: 1.5;
      margin-bottom: 40px;
      max-width: 470px;
      width: 100%;
    }
    > .author {
      color: $blue-1;
      font-size: 20px;
    }
  }
}

#DataVisualSection > .container > .section.-right { 
  > .datachart {
    > .start {
      position: absolute;
      bottom: 110px;
      right: 155px;
      min-width: 245px;
    }
  }
  > .description {
    text-align: center;
    font-size: 17px;
    color: $blue-7;
  }
}