@import "Variables";

#ExploreOurData {
  background-color: $blue-1;
  color: #fff;
  padding: 70px 0;
}

#ExploreOurData > .container > .header {
  max-width: 630px;
  width: 100%;
  margin-bottom: 50px;
  > .title {
    margin: 0;
  }
  > .text {
    font-size: 23px;
    margin-top: 10px;
  }
}

#ExploreOurData > .container > .search-box {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid $blue-7;
  max-width: 700px;
  width: 100%;
  padding-bottom: 10px;
  > i[class*=search] {
    font-size: 20px;
    color: $blue-2;
    margin-right: 20px;
  }
  > .input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 20px;
    color: #fff;
    &::placeholder {
      color: $blue-2;
    }
    &:focus{
      outline: none;
    }
  }
}