@import "~normalize.css/normalize.css";
@import "Variables";
@import "Helpers";
@import "components/container.scss";
@import "components/button.scss";
@import "components/start-trial-section.scss";
@import "components/section.scss";
@import "navbar.scss";
@import "hero-banner.scss";
@import "stats.scss";
@import "data-visualization.scss";
@import "streamline-workflow.scss";
@import "market-insights.scss";
@import "global-trends.scss";
@import "one-stop-shop.scss";
@import "one-time-b2b.scss";
@import "explore-our-data.scss";
@import "our-blog.scss";
@import "schedule-demo.scss";
@import "our-customers.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14PX;
  color: $gray-1;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

input {
  &:focus {
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
}