@import "~normalize.css/normalize.css";
@import "Variables";
@import "components/button.scss";
@import "navbar.scss";
@import "hero-banner.scss";
@import "start-trial.scss";
@import "stats.scss";
@import "data-visualization.scss";
@import "streamline-workflow.scss";
@import "market-insights.scss";
@import "follow-global-trends.scss";
* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14PX;
  color: $gray-1;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
}