@import "Variables";

#MarketInsights {
  background-image: url('/images/map.jpg');
  background-size: cover;
  padding: 70px 0;
  > .container {
    display: flex;
    justify-content: space-between;
    > .column-1 {
      flex: 0 1 550px;
      > .title,
      > .insight > .title, 
      > .insight > .description {
        color: $blue-1;
      }
      > .title {
        font-size: 42px;
        font-weight: bold;
      }
      > .insight:nth-of-type(1) {
        border-bottom: 1px solid $blue-6;
      }
      > .insight > .description {
        font-size: 20px;
        line-height: 1.5;
        padding-right: 70px;
      }
    }
    > .column-2 {
      > .chart {
        width: 100%;
        max-width: 600px;
      }
      > .description {
        text-align: center;
        font-size: 19px;
        color: $blue-1;
      }
    }
  }
}