@import "Variables";

#StreamlineWorkflow {
  background-color: $blue-4;
  padding: 70px 0;
}

#StreamlineWorkflow > .container > .row {
  > .column {
    flex: 0 1 445px;
    padding-right: 55px;
    > .logo {
      width: 130px;
    }
    > .title {
      color: $yellow-1;
      text-transform: uppercase;
    }
    > .description {
      color: #fff;
      max-width: 350px;
      width: 100%;
      line-height: 1.5;
      margin-top: 0;
    }

    > .title,
    > .description {
      font-size: 23px;
    }

    > .list {
      margin-bottom: 40px;
      > .item{
        display: flex;
        align-items: center;
        color: #fff;
      }
      > .item > i[class*=icon] {
        color: $yellowgreen-1;
        margin-right: 10px;
      }
    }
  }
}