@import "Variables";

#StreamlineWorkflow {
  background-color: $blue-4;
  padding: 70px 0;
  > .container {
    > .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      > .content > .title {
        color: $yellow-1;
        font-size: 37px;
      }
      > .content > .subtitle {
        color: #fff;
        font-size: 25px;
      }
    }
    > .features {
      display: flex;
      flex-wrap: wrap;
      > .feature {
        flex: 0 1 445px;
        padding-right: 55px;
      }
      > .feature > .title {
        color: $yellow-1;
        font-size: 25px;
      }
      > .feature > .description {
        color: #fff;
        font-size: 25px;
        line-height: 1.5;
        margin-top: 0;
      }
      > .feature > .list > .item{
        color: #fff;
      }
    }
  }
}