$yellow-1: #f8961d;
$blue-1: #0b5588;
$blue-2: #3a6d8f;
$blue-3: #024f74;
$blue-4: #335c78;
$blue-5: #f2f8fc;
$blue-6: #cedfea;
$blue-7: #7b97ab;
$blue-8: #085f93;
$skyblue-1: #5aa9dc;
$gray-1: #5c6670;
$gray-2: #f8f8f8;
$green-1: #71ac30;
$yellowgreen-1: #b3c130;
$purple-1: #8e5186;
$orange-1: #ff5001;

$box-shadow: 0 1px 10px 0px rgba(202, 202, 202, 0.603);