@import "Variables";

.section {
  &.-left {
    > .header {
      > .title {
        color: $blue-1;
        font-size: 42px;
      }
      > .text {
        color: $yellow-1;
        font-size: 25px;
      }
    }
  }
  &.-right {
    > .datachart {
      position: relative;
      margin-bottom: 25px;
      > .chartimage {
        width: 100%;
        min-width: 570px;
      }
    }
    > .description {
      text-align: center;
      font-size: 17px;
      color: $blue-7;
    }
  }
}